[gcode_macro START_PRINT]
# put the following in the prusa slicer start code and remove everything else:
# START_PRINT HOTEND_TEMP={first_layer_temperature[0]} BED_TEMP={first_layer_bed_temperature[0]}
gcode:
  {% set toolTemp = params.HOTEND_TEMP|default(200)|int %}
  {% set bedTemp = params.BED_TEMP|default(60)|int %}
  {% set chamberTemp = params.CHAMBER_TEMP|default(45)|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  SET_GCODE_OFFSET Z=0

  {action_respond_info("Heating bed: %dC" % bedTemp)}
  {action_respond_info("Heating nozzle: %dC" % toolTemp)}
  
  _CANCEL_END_PRINT
  CANCEL_HEAT_SOAK

  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150

  G28
  G90

  BED_MESH_CLEAR
  
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bedTemp}

  HEAT_SOAK

  CLEAN_NOZZLE
  Z_TILT_ADJUST
  G28 Z

  BED_MESH_CALIBRATE

  CARTOGRAPHER_TOUCH TOLERANCE=0.015 SPEED=2

  SMART_PARK
  
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={toolTemp}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={toolTemp - 5} # Wait for nozzle to get close to target temperature.

  LINE_PURGE

  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={toolTemp} # Wait for nozzle to get to target temperature.
