[gcode_macro START_PRINT]
# put the following in the prusa slicer start code and remove everything else:
# START_PRINT HOTEND_TEMP={first_layer_temperature[0]} BED_TEMP={first_layer_bed_temperature[0]}
variable_tool_temp: 0
variable_bed_temp: 0

gcode:
  {% set tool_temp = params.HOTEND_TEMP|default(200)|int %}
  {% set bed_temp = params.BED_TEMP|default(60)|int %}

  SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=tool_temp VALUE={ tool_temp }
  SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=bed_temp  VALUE={ bed_temp }

  {action_respond_info("Heating bed: %dC" % bed_temp)}
  {action_respond_info("Heating nozzle: %dC" % tool_temp)}

  _PRE_SOAK_START_PRINT

  HEAT_SOAK TARGET={bed_temp} MACRO=_POST_SOAK_START_PRINT

[gcode_macro _PRE_SOAK_START_PRINT]
gcode:
  SET_GCODE_OFFSET Z=0

  _CANCEL_END_PRINT
  CANCEL_HEAT_SOAK

  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150

  G28
  G90

  BED_MESH_CLEAR

  SMART_PARK

  
[gcode_macro _POST_SOAK_START_PRINT]
gcode:
  {% set start_print = printer['gcode_macro START_PRINT'] %}
  {% set tool_temp = start_print.tool_temp %}

  CLEAN_NOZZLE
  Z_TILT_ADJUST
  G28 Z

  BED_MESH_CALIBRATE

  CARTOGRAPHER_TOUCH TOLERANCE=0.015 SPEED=2
  
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={tool_temp}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={tool_temp - 5} # Wait for nozzle to get close to target temperature.

  LINE_PURGE

  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={tool_temp} # Wait for nozzle to get to target temperature.